@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-retroCream font-sans text-darkGray;
}

h1,
h2,
h3 {
  @apply font-bold text-darkGray;
}

a {
  text-decoration: none;
}

button {
  @apply bg-pastelBlue text-darkGray shadow-retro rounded px-4 py-2 hover:bg-blue-300;
}

.blog-card {
  @apply bg-pastelYellow p-4 rounded-lg shadow-retro;
}

.nav-bar {
  @apply bg-retroCream p-4 rounded-full shadow-retro;
}

.nav-item {
  @apply px-4 py-2 rounded-t-lg border-2 border-black shadow-md transition-transform duration-300 ease-in-out hover:-translate-y-2 hover:shadow-lg;
}

.stroke-box {
  border: 2px solid black;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
}

.header-bar {
  @apply bg-retroCream border-2 border-black rounded-t-lg shadow-retro;
}

.title {
  @apply font-bold text-xl;
}

.label {
  @apply bg-pastelPink px-4 py-2 rounded-l-lg border-2 border-black shadow-retro;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
